
.products_container > img{
    width:100%;
    height:200px;
    object-fit:cover;
    
    
}
.products_box_container{
    background-color: red;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}
.div1{
    background-color: chartreuse;
}
.div2{
    background-color: yellow;
}

.div3{
    background-color:darkgrey;
}
.div4{
    background-color:yellowgreen;
}
.div5{
    background-color: darkseagreen;
}


